<h1>Pirate and his ships</h1>
<form method="POST" action="/pirate">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="student[courses][][name]">
  Ship Topic: <input type="text" name="student[courses][][topic]">
  Ship Name: <input type="text" name="student[courses][][name]">
  Ship Name: <input type="text" name="student[courses][][topic]">
  Ship Name: <input type="text" name="student[courses][][name]">
  Ship Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
  
  
</form>
